body {
	background-color: rgb(250, 250, 250);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgba(64, 64, 64, 0.8);
  line-height: 16px;
  margin-right: 10px;
}

select {
  height: 14px;
  font-size: 10px;
}
select:focus {
  outline: none;
}

/* Slider ( input[type=range] ) */
input[type=range] {
  -webkit-appearance: none;
  padding-bottom: 2px;
  background-color: rgb(240, 240, 240);

}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: #e8e8e8;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    border-color: #ccc;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    margin-top: -5px;
    background: #e8e8e8;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
}
input[type=range]:focus::-webkit-slider-thumb {
    background: #ddd;
    border-color: #ccc;
}

button[type=button] {
  height: 14px;
  font-size: 10px;
  line-height: 8px;
}
button[type=button]:focus {
    outline: none;
}

input[type=file] {
  font-size: 8px;
}
input[type=files]:focus {
  outline: none;
}

audio {
  color: rgba(64, 64, 64, 0.8);
}
audio:focus {
  outline: none;
}
